@font-face {
	font-family: "IBMPlexSansKR-Regular";
	src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/IBMPlexSansKR-Regular.woff")
		format("woff");
	font-weight: normal;
	font-style: normal;
}

* {
	box-sizing: border-box;
	font-family: "IBMPlexSansKR-Regular";
}
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body::-webkit-scrollbar {
	display: none;
}
/* body {
	margin: 0;
} */
