<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		<div
			id="kakao-talk-channel-chat-button"
			data-channel-public-id="_hdLkxj"
			data-title="consult"
			data-size="small"
			data-color="yellow"
			data-shape="pc"
			data-support-multiple-densities="true"
		></div>
	</body>
</html>
<script>
	window.kakaoAsyncInit = function () {
		Kakao.Channel.createChatButton({
			container: "#kakao-talk-channel-chat-button",
		});
	};

	(function (d, s, id) {
		var js,
			fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) return;
		js = d.createElement(s);
		js.id = id;
		js.src = "https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.channel.min.js";
		js.integrity = "sha384-MEvxc+j9wOPB2TZ85/N6G3bt3K1/CgHSGNSM+88GoytFuzP4C9szmANjTCNfgKep";
		js.crossOrigin = "anonymous";
		fjs.parentNode.insertBefore(js, fjs);
	})(document, "script", "kakao-js-sdk");
</script>
